#####################################################
# Crear el virtual environment: >python -m venv <venv_name>

#Para activar el virtual environment usar:
# In cmd.exe: >venv\Scripts\activate.bat
# In PowerShell: >venv\Scripts\Activate.ps1

#Para desactivar el virtual environment usar:
# >deactivate
#####################################################

# Para instalar las librerías usar: >pip install -r requirements.txt
jupyter
tensorflow
keras
pandas
matplotlib

#####################################################
#Actualizar el keras, ejecutar los siguientes comandos en orden secuencial ( Ver documentación en https://keras.io/getting_started/):
# pip install --upgrade keras-cv
# pip install --upgrade keras-nlp
# pip install --upgrade keras
#####################################################